.investment__section {
  height: 60dvh;
  background-image: linear-gradient(
    -45deg,
    $gradient-black,
    $green,
    $gradient-black
  );
  margin-top: var(--size-fluid-4);
  padding: var(--size-fluid-2) var(--size-fluid-4);
  @include flex(column, center, flex-start, 0.5rem);

  h4 {
    color: $text-gray;
  }

  h2 {
    font-size: var(--font-size-fluid-2);
    color: $white;
  }

  .output {
    @include flex(row, center, space-between, 0);
    width: 60%;
    height: 80%;

    .calculator {
      background-color: $green;
      border-radius: var(--radius-3);
      padding: var(--size-4);
      @include flex(column, flex-start, flex-start, 1.75rem);

      p {
        color: $white;
        font-size: var(--font-size-3);
      }

      label {
        color: $white;
        font-size: var(--font-size-8);

        input {
          all: unset;
          width: 6em;
        }
      }

      #range {
        appearance: none;
        background: $bg-gray;
        height: 3px;
        width: 100%;
        border-radius: var(--radius-1);

        &::-webkit-slider-thumb {
          appearance: none;
          height: 30px;
          width: 30px;
          border-radius: var(--radius-round);
          background: $light-green;
          cursor: pointer;
        }
      }

      .select__controls {
        @include flex(row, center, center, 1em);

        select {
          border: none;
          outline: none;
          padding: 7px 12px;
          font-size: var(--font-size-2);
        }
      }
    }

    &--content {
      @include flex(column, center, center, 1.25rem);

      h3{
        font-size: var(--font-size-8);
        color: $white;
      }

      p {
        color: $white;
        font-size: var(--font-size-3);
      }
    }
  }
}
