.mission__section {
  @include flex(column, center, center, 0.5rem);
  padding: var(--size-fluid-2) var(--size-fluid-4);
  text-align: center;

  h4 {
    color: $text-gray;
  }

  h2 {
    font-size: var(--font-size-fluid-2);
    color: $black;
  }

  p {
    color: $black;
    font-size: var(--font-size-2);
    // white-space: nowrap;
  }

  img{
    width: 100%;
    height: auto;
    max-height: 60dvh;
    object-fit: cover;
    margin-top: 1.75rem;
    border-radius: 15px;
  }
}

@media (max-width: 600px){
    .mission__section{
        br{
            display: none;
        }
    }
}
